<%- include("partials/header.ejs") %>

<body>

    <div class="container py-4">

    <a href="/" class="btn btn-secondary mt-3">← Back to Home</a>

    <div class="card shadow-sm mb-4">
         <div class="card-body">
            <h1>Quotes Found</h1>
         </div>       
    </div>

    <div class="card shadow-sm">
        <div class="card-body">
            <% for (i of quotes) { %>
                
                <p><%= i.quote %></p>
                <p>
                -<em>
                    <a href="#" id="<%=i.authorId%>">
                    <%= i.firstName%> <%= i.lastName %>
                    </a>
                </em>
                </p>
                <hr>
                         
            <% } %>
        </div>
    </div>

    </div>

    <!-- Modal -->
    <div class="modal fade"  id="authorModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
        <div class="modal-header">
            <h1 class="modal-title fs-5" id="exampleModalLabel">Author Information</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <div id="authorInfo"></div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        </div>
        </div>
    </div>
    </div>




    <%- include("partials/footer.ejs") %>


        <script src="/js/script.js"></script>
</body>
</html>